{% extends 'base.html.twig' %}

{% block body %}

{% for post in posts %}

<li><span style="font-weight:bold;"> {{ post.title }}</span> - <span style="color:red;"> {{ post.author.name }} </span></li>

{% endfor %}

{% endblock %}
